<context id="TrafficFlowSimulation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  	<projection type="geography" id="TrafficFlowMap"/>
  	<projection type="network" id="Network"/>
  	<projection type="network" id="Test Network"/>
</context>
